<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= yield_content :title %></title>

    <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto:700" rel="stylesheet">

    <%= javascript_include_tag "site" %>
    <script src="https://use.fontawesome.com/488eaeeb3f.js"></script>
  </head>

  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <% languages.each do |language| %>
        <li><%= link_to language.title, "/#{language.path}/" %></li>
      <% end %>
      <li><a href="https://github.com/spilth/tdd.spilth.org">Source</a></li>
    </ul>

    <div class="warning">
      <em>Note: This project is currently in a work in progress so not all languages or sections are complete.</em>
    </div>

    <%= yield %>
  </body>
</html>

