<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= yield_content :title %></title>

    <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto:700" rel="stylesheet">

    <%= javascript_include_tag "site" %>
    <script src="https://use.fontawesome.com/488eaeeb3f.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80575-32"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-80575-32');
    </script>
  </head>

  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/spilth/tdd.spilth.org">Project Source Code</a></li>
    </ul>

    <ul class="navbar">
      <li>Languages:</li>
      <% languages.each do |language| %>
        <li><%= link_to language.title, "/#{language.path}/" %></li>
      <% end %>
    </ul>

    <div class="warning">
      <em>Note: This project is currently in a work in progress so not all languages or sections are complete.</em>
    </div>

    <%= yield %>
  </body>
</html>

